xmla/definition/eng100_100.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.0"
	xmlns="http://schemas.microsoft.com/analysisservices/2008/engine/100/100"
	targetNamespace="http://schemas.microsoft.com/analysisservices/2008/engine/100/100">

	<xsd:element name="DbStorageLocation" type="xsd:string" />

	<xsd:element name="HoldoutMaxPercent" type="xsd:int" />
	<xsd:element name="HoldoutMaxCases" type="xsd:int" />
	<xsd:element name="HoldoutSeed" type="xsd:int" />
	<xsd:element name="HoldoutActualSize" type="xsd:int" />

</xsd:schema>
