odf/xml/src/main/xsd/anim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Open Document Format for Office Applications (OpenDocument) Version 1.3
  OASIS Standard
  27 April 2021
  Copyright (c) OASIS Open 2021. All Rights Reserved.
  Source: https://docs.oasis-open.org/office/OpenDocument/v1.3/os/schemas/
  Latest stage of specification: https://docs.oasis-open.org/office/OpenDocument/v1.3/OpenDocument-v1.3-part1-introduction.html
  TC IPR Statement: https://www.oasis-open.org/committees/office/ipr.php
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:db="urn:oasis:names:tc:opendocument:xmlns:database:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:grddl="http://www.w3.org/2003/g/data-view#" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd" />
    <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd" />
    <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml.xsd" />
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd" />
    <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd" />
    <xs:import namespace="http://www.w3.org/2003/g/data-view#" schemaLocation="grddl.xsd" />
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:database:1.0" schemaLocation="db.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="text.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd" />
    <xs:attribute name="color-interpolation">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="rgb" />
                <xs:enumeration value="hsl" />
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="color-interpolation-direction">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="clockwise" />
                <xs:enumeration value="counter-clockwise" />
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="audio-level" type="text:double" />
    <xs:attribute name="command" type="text:string" />
    <xs:attribute name="iterate-type" type="text:string" />
    <xs:attribute name="iterate-interval" type="text:duration" />
    <xs:element name="animate" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-named-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-values-attlist" />
            <xs:attributeGroup ref="text:common-anim-spline-mode-attlist" />
            <xs:attributeGroup ref="text:common-spline-anim-value-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="set" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-named-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-set-values-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="animateMotion" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:anim-animate-motion-attlist" />
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-named-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
            <xs:attributeGroup ref="text:common-anim-values-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
            <xs:attributeGroup ref="text:common-spline-anim-value-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="animateColor" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-named-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
            <xs:attributeGroup ref="text:common-anim-values-attlist" />
            <xs:attributeGroup ref="text:common-anim-spline-mode-attlist" />
            <xs:attributeGroup ref="text:common-spline-anim-value-attlist" />
            <xs:attributeGroup ref="text:anim-animate-color-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="animateTransform" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-named-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
            <xs:attributeGroup ref="text:common-anim-values-attlist" />
            <xs:attributeGroup ref="text:anim-animate-transform-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="transitionFilter" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
            <xs:attributeGroup ref="text:common-anim-add-accum-attlist" />
            <xs:attributeGroup ref="text:common-anim-values-attlist" />
            <xs:attributeGroup ref="text:common-anim-spline-mode-attlist" />
            <xs:attributeGroup ref="text:anim-transition-filter-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="par" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text:animation-element" />
            </xs:sequence>
            <xs:attributeGroup ref="text:common-anim-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
            <xs:attributeGroup ref="text:common-endsync-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="seq" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text:animation-element" />
            </xs:sequence>
            <xs:attributeGroup ref="text:common-anim-attlist" />
            <xs:attributeGroup ref="text:common-endsync-timing-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="iterate" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text:animation-element" />
            </xs:sequence>
            <xs:attributeGroup ref="text:common-anim-attlist" />
            <xs:attributeGroup ref="text:anim-iterate-attlist" />
            <xs:attributeGroup ref="text:common-timing-attlist" />
            <xs:attributeGroup ref="text:common-endsync-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="audio" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:attributeGroup ref="text:common-anim-attlist" />
            <xs:attributeGroup ref="text:anim-audio-attlist" />
            <xs:attributeGroup ref="text:common-basic-timing-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="command" substitutionGroup="text:animation-element">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="anim:param" />
            </xs:sequence>
            <xs:attributeGroup ref="text:common-anim-attlist" />
            <xs:attributeGroup ref="text:anim-command-attlist" />
            <xs:attributeGroup ref="text:common-begin-end-timing-attlist" />
            <xs:attributeGroup ref="text:common-anim-target-attlist" />
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:attribute name="name" use="required" form="qualified" type="text:string" />
            <xs:attribute name="value" use="required" form="qualified" type="text:string" />
        </xs:complexType>
    </xs:element>
    <xs:attribute name="id" type="text:NCName" />
    <xs:attribute name="sub-item" type="text:string" />
    <xs:attribute name="formula" type="text:string" />
</xs:schema>
