odf/xml/src/main/xsd/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Open Document Format for Office Applications (OpenDocument) Version 1.3
  OASIS Standard
  27 April 2021
  Copyright (c) OASIS Open 2021. All Rights Reserved.
  Source: https://docs.oasis-open.org/office/OpenDocument/v1.3/os/schemas/
  Latest stage of specification: https://docs.oasis-open.org/office/OpenDocument/v1.3/OpenDocument-v1.3-part1-introduction.html
  TC IPR Statement: https://www.oasis-open.org/committees/office/ipr.php
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xlink" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:db="urn:oasis:names:tc:opendocument:xmlns:database:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:grddl="http://www.w3.org/2003/g/data-view#" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd" />
    <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd" />
    <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml.xsd" />
    <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd" />
    <xs:import namespace="http://www.w3.org/2003/g/data-view#" schemaLocation="grddl.xsd" />
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="anim.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:database:1.0" schemaLocation="db.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="text.xsd" />
    <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd" />
    <xs:attribute name="href" type="text:anyIRI" />
    <xs:attribute name="type">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="simple" />
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup name="show">
        <xs:attribute name="show" use="required" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="new" />
                    <xs:enumeration value="replace" />
                    <xs:enumeration value="embed" />
                    <xs:enumeration value="none" />
                    <xs:enumeration value="replace" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="actuate">
        <xs:attribute name="actuate" use="required" form="qualified">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="onLoad" />
                    <xs:enumeration value="onRequest" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attribute name="title" type="text:string" />
</xs:schema>
